{% load static %}

<link rel="stylesheet" href="{% static 'libraryJ/styles/bookshelf.css' %}">
<link rel="stylesheet" href="{% static 'libraryJ/styles/containers.css' %}">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<script src="{% static 'libraryJ/js/bookshelf.js' %}"></script>

<style>
    .background {
        z-index: -1;
        position: absolute;
        background-image: url('{% static "libraryJ/images/background_image.jpg" %}');
        background-size: cover;
        height: 100vh;
        width: 100vw;
    }

    .buttons-menu {
        position: absolute;
        min-height: 10px;
        min-width: 50px;
        height: auto;
        width: auto;
        background-color: rgba(58, 58, 58, 0.8);
        border-radius: 0 0 10px 0;

        text-align: center;

        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
    }

    a {
        color: inherit;
    }

    .website-box {
        display: inline-block;
        position: relative;
        flex: 1;
        margin-left: px;
        box-shadow: 0 2px 6px rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        width: auto;
        height: 100%;

        color: white;
        background-color: rgba(58, 58, 58, 0.8);
    }

    .website-box:hover {
        background-color: rgba(70, 70, 70, 0.8);
    }
    
    .website-img {
        position: relative;
        top: 0;
        height: 80%; 
        width: 25px; 
        margin-top: 2px;
        margin-left: 3px; 
        margin-bottom: 3px;
        display: inline-block; 
    }

    .website-name {
        width:auto; 
        display: inline-block; 
        margin-right: 3px;
        vertical-align: top;
    }

    .form-conteiner {
        overflow-y: auto; 
        white-space: normal; 
        position: relative; 
        height: 90%;
    }

    .form-conteiner::-webkit-scrollbar {
        width: 3px; /* Adjust the width as desired */
        height: 5px;
    }

    .form-conteiner::-webkit-scrollbar-thumb {
        background-color: rgba(107, 107, 107, 0.8); /* Adjust the thumb color */
        border-radius: 4px; /* Adjust the thumb border radius */
        height: 3px;
    }
</style>

<script>
    function selectSite(website_link, book_title_path, art_path, chapter_title_path, content_path, next_book_page_link_path, 
    previous_book_page_link_path){
        const websiteLinkInput = document.getElementById('websiteLinkInput');
        const bookTitleInput = document.getElementById('bookTitleInput');
        const artInput = document.getElementById('artInput');
        const chapterTitleInput = document.getElementById('chapterTitleInput');
        const contentInput = document.getElementById('contentInput');
        const nextBookPageLinkInput = document.getElementById('nextBookPageLinkInput');
        const previousBookPageLinkInput = document.getElementById('previousBookPageLinkInput');

        websiteLinkInput.value = website_link;
        bookTitleInput.value = book_title_path;
        artInput.value = art_path;
        chapterTitleInput.value = chapter_title_path;
        contentInput.value = content_path;
        nextBookPageLinkInput.value = next_book_page_link_path;
        previousBookPageLinkInput.value = previous_book_page_link_path;
    }
</script>

<div class="background top left"></div>

<div>
    <a href="../">
        <div class="buttons-menu top left">
            &lt;
        </div>
    </a>
    <div class="main-block container" style="height: 80%;">
        <div class="container-inner">
            <div>
                <div class="bookshelf" style="height: 25px;" onwheel="scrollBookshelf(event)">
                    {% for website in websites %}
                            <div class="website-box" 
                            onclick="selectSite('{{ website.website_link}}', '{{website.book_title_path}}', '{{website.art_path}}', 
                            '{{website.chapter_title_path}}', '{{website.content_path}}', '{{website.next_book_page_link_path}}', 
                            '{{website.previous_book_page_link_path}}')">
                                <div>
                                    <div class="website-img">
                                        <img style="width: 100%; height: 100%; vertical-align: initial" src="{{ website.image_link }}">
                                    </div>
                                    <div class="website-name" >{{ website.name }}</div>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>

            <div class="form-conteiner">
                <form method="post" action="post-website">
                    {% csrf_token %}
                    <fieldset>
                        <label for="websiteLinkInput" class="form-label text-light">Website link:</label>
                        <input type="text" class="form-control" id="websiteLinkInput" name="websiteLink"
                                placeholder="{{ website_domain }}" pattern="https?://[^\s]*" 
                                value="https://{{ website_domain }}/"
                                minlength="4" required>

                        <label for="bookTitlePageLinkInput" class="form-label text-light">Book Title Page Link:</label>
                        <input type="text" class="form-control" id="bookTitlePageLinkInput" name="bookTitlePageLink"
                            placeholder="https://website/.../book/" pattern="https?://[^\s]*" 
                            minlength="4" required>

                        <label for="bookChapterPageLinkInput" class="form-label text-light">Book Chapter Page Link:</label>
                        <input type="text" class="form-control" id="bookChapterPageLinkInput" name="bookChapterPageLink"
                            placeholder="https://website/.../book/.../chapter/" pattern="https?://[^\s]*" 
                            minlength="4" required>


                        <label for="bookTitleInput" class="form-label text-light">Book Title Path:</label>
                        <input type="text" class="form-control" id="bookTitleInput" name="bookTitle"
                                minlength="1" required>

                        <label for="artInput" class="form-label text-light">Art:</label>
                        <input type="text" class="form-control" id="artInput" name="art"
                                minlength="1" required>

                        <label for="chapterTitleInput" class="form-label text-light">Chapter Title Path:</label>
                        <input type="text" class="form-control" id="chapterTitleInput" name="chapterTitle"
                                minlength="1" required>

                        <label for="contentInput" class="form-label text-light">Content Path:</label>
                        <input type="text" class="form-control" id="contentInput" name="content"
                                minlength="1" required>

                        <label for="nextBookPageLinkInput" class="form-label text-light">Next Book Page Link Path:</label>
                        <input type="text" class="form-control" id="nextBookPageLinkInput" name="nextBookPageLink"
                                minlength="1" required>

                        <label for="previousBookPageLinkInput" class="form-label text-light">Previous Book Page Link Path:</label>
                        <input type="text" class="form-control" id="previousBookPageLinkInput" name="previousBookPageLink"
                                minlength="1" required>

                    </fieldset>
                    <div style="margin-top: 10px; display: flex; justify-content: center">
                        <button type="submit" class="btn btn-outline-warning bottom" id="submitButton">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
