{% load static %}

<link rel="stylesheet" href="{% static 'libraryJ/styles/bookshelf.css' %}">
<link rel="stylesheet" href="{% static 'libraryJ/styles/containers.css' %}">
<link rel="stylesheet" href="{% static 'libraryJ/styles/main.css' %}">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<script src="{% static 'libraryJ/js/bookshelf.js' %}"></script>

<style>
    .background {
        z-index: -1;
        position: fixed;
        background-image: url('{% static "libraryJ/images/background_image.jpg" %}');
        background-size: cover;
        height: 100vh;
        width: 100vw;
    }

    .buttons-menu {
        position: absolute;
        min-height: 10px;
        min-width: 50px;
        height: auto;
        width: auto;
        background-color: rgba(58, 58, 58, 0.8);
        border-radius: 0 0 0 10px;

        text-align: center;

        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
    }

    a {
        color: inherit;
    }
</style>

<div class="background top left"></div>

<div>
    <a href="book/create">
        <div class="buttons-menu top right">
            +
        </div>
    </a>
    <div class="main-block container">
        <div class="container-inner container-fluid overflow-y-hidden align-middle">
            <div class="row mx-0 gx-0 gy-0" style="height: 75vh">

                <div class="row w-100 mx-0 gx-0 gy-0" style="height: 30%;">
                    <div class="row w-100 mx-0 gx-0 gy-0" style="height: 5%;"></div>
                        <div class="row mx-0 gx-0 gy-0 h-100">
                        <div class="h-100 w-100 bg-black bg-gradient bg-opacity-75 rounded-3 bookshelf mx-0 gx-0 gy-0" onwheel="scrollBookshelf(event)">
                            {% for book in books %}
                                <a href="{% url 'library:index-book' pk=book.pk %}">
                                    <div class="book h-100">
                                        <img src="{{ book.image_link }}" style="height: 100%; width: auto;">
                                        <div class="book-title">{{ book.title }}</div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                        </div>
                    <div class="row mx-0 gx-0 gy-0" style="height: 5%;"></div>
                </div>
                
                <div class="row w-100 mx-0 gx-0 gy-0" style="height: 30%;">
                    <div class="row w-100 mx-0 gx-0 gy-0" style="height: 5%;"></div>
                        <div class="row mx-0 gx-0 gy-0 h-100">
                        <div class="h-100 w-100 bg-black bg-gradient bg-opacity-75 rounded-3 bookshelf mx-0 gx-0 gy-0" onwheel="scrollBookshelf(event)">
                            {% for book in books %}
                                <a href="{% url 'library:index-book' pk=book.pk %}">
                                    <div class="book h-100">
                                        <img src="{{ book.image_link }}" style="height: 100%; width: auto;">
                                        <div class="book-title">{{ book.title }}</div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                        </div>
                    <div class="row mx-0 gx-0 gy-0" style="height: 5%;"></div>
                </div>

                <div class="row w-100 mx-0 gx-0 gy-0" style="height: 30%;">
                    <div class="row w-100 mx-0 gx-0 gy-0" style="height: 5%;"></div>
                        <div class="row mx-0 gx-0 gy-0 h-100">
                        <div class="h-100 w-100 bg-black bg-gradient bg-opacity-75 rounded-3 bookshelf mx-0 gx-0 gy-0" onwheel="scrollBookshelf(event)">
                            {% for book in books %}
                                <a href="{% url 'library:index-book' pk=book.pk %}">
                                    <div class="book h-100">
                                        <img src="{{ book.image_link }}" style="height: 100%; width: auto;">
                                        <div class="book-title">{{ book.title }}</div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                        </div>
                    <div class="row mx-0 gx-0 gy-0" style="height: 5%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
            